<!--################# START MAIN-WRAPPER ####################
  ============================================================ -->
<div class="main-wrapper">

  <!-- ######################  START HEADER ######################
    ==============================================================-->
  <header class="headertop needhead" id="header-section">

    <!-- START PARALLAX BG -->
    <div class="innerbg">

<!-- ###################### START TOP MENU ####################
============================================================== -->
<div class="nav-top fixed action" id="top-nav">
  <!-- navbar-fixed-top -->
    <div class="navbar" >
  <!-- INNER-->
      <div class="navbar-inner">
        <div class="container">

    <!-- Collapse button -->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <!-- LOGO -->
            <a class="brand" href="index.html">
            <span><i class="fa fa-pencil" style="font-size: xx-large"></i> Abhaya School</span>
            <!--<img src="assets/img/logo.png" alt="Logo">--></a>

       <!-- TOP NAVIGATION-->
       <div id="main-nav" class="scroller-spy">
        <nav class="nav-collapse collapse" >
          <ul class="nav pull-right" id="nav">
          <li class="active"><a href="#header-section">Home</a> </li>
          <li><a href="#features-section">School</a> </li>
          <li><a href="#portfolio-section">Curriculum</a> </li>
          <li><a href="#slider-section">Gallery</a> </li>
          <li><a href="#team-section">More...</a> </li>
          <li><a href="#contact-section">Contact</a> </li>
          </ul>
        </nav>
        </div>

        </div>
      </div>
    </div>
</div>
<!-- ############################ END TOP MENU ###############
  ========================================================== -->

<!-- HEADER MAIN-->

  <!-- ============ SLIDER ============= -->

      <div id="carousel_horizontal_slide_2" class="carousel slide slider_top">
        <div class="carousel-inner">

          <!--########## item #############-->
          <div class="item active">
            <div class="hero-unit text-center">
            <h1 class="">

            <span class="active">Abhaya School  </span></h1>
            <!-- !! DEL Class="active" when used static animated h1 script -->
                <h2 class="text-center">
                  A Waldorf School
                </h2>
              </div>


          </div>
          <!--############/item###########-->

          <!--########## item #############-->
          <div class="item">
          <img src="images/school/1.jpg" alt="" />
          </div>
          <!--############/item###########-->

          <!--########## item #############-->
          <div class="item">
          <img src="images/school/3.jpg" alt="" />
          </div>
          <!--############/item###########-->
          <!--########## item #############-->
          <div class="item">
          <img src="images/school/5.jpg" alt="" />
          </div>
          <!--############/item###########-->
          <!--########## item #############-->
          <div class="item">
          <img src="images/school/6.jpg" alt="" />
          </div>
          <!--############/item###########-->
          <!--########## item #############-->
          <div class="item">
          <img src="images/school/7.jpg" alt="" />
          </div>
          <!--############/item###########-->
          <!--########## item #############-->
          <div class="item">
          <img src="images/school/9.jpg" alt="" />
          </div>
          <!--############/item###########-->
          <!--########## item #############-->
          <div class="item">
          <img src="images/school/15.jpg" alt="" />
          </div>
          <!--############/item###########-->
          <!--########## item #############-->
          <div class="item">
          <img src="images/school/16.jpg" alt="" />
          </div>
          <!--############/item###########-->


        </div>

        <a class="carousel-control left btn-control " href="#carousel_horizontal_slide_2" data-slide="prev"><i class="fa fa-chevron-left"  style="font-size: xx-large"></i></a>
        <a class="carousel-control right btn-control btn-action" href="#carousel_horizontal_slide_2" data-slide="next"><i class="fa fa-chevron-right" style="font-size: xx-large"></i></a>
  </div>



</div>

<div class="action-wrapper" id="startbtn">
  <a class="btn btn-large btn-primary btn-action-bottom" href="#features-section"  title="">
  Know More..
  </a>
</div>
<div class="leftbg"></div>
<!--/ END PARALLAX BG-->
</header>
<!-- / ###################### END MAIN HEADER ####################
  =============================================================== -->






<!-- ######################## FEATURES SECTION ##################
============================================================== -->
<section  id="features-section">


<div class="container">
    <div class="row-fluid">
      <div class="span12 page-header inner-header">
        <h3><small>Who are we?</small>KNOW A LITTLE ABOUT US..</h3>
      </div>
    </div><!--/ROW-FLUID-->
</div>

<!-- About PANEL -->
<div class="container tabs-contain">
  <div class="row-fluid">
    <div class="span12">
      <div class="tabbable">
            <ul class="nav nav-tabs" id="my-tab">
              <li class="active three"><a href="#1" data-toggle="tab">The Beginning</a></li>
              <li class="three"><a href="#2" data-toggle="tab">We stand for</a></li>
              <li class="three"><a href="#3" data-toggle="tab">Our infrastructure</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="1">
               <i class="fa-icon-credit-card main-color fa-icon-medium pull-left"></i> <p> Abhaya was founded by a group of parents and teachers who had serious questions about the nature of education that is presently prevalent. The group found its inspiration in the Waldorf curriculum. The Waldorf Curriculum is a process of learning that places the growing child in the centre. Woven around insights given by Rudolf Steiner, the curriculum nurtures the natural developmental stages of the child.</p>
              </div>
              <div class="tab-pane" id="2">
                <i class="fa-icon-globe main-color fa-icon-medium pull-left"></i><p>Abhaya is for parents and teachers who have serious questions about education and have the conviction to choose a place that would truly give time and space for a child’s growth.
It is a school for those who understand that competition does not lead to excellence; it only breeds anxieties, fears and hatred. It is a school for those who understand that learning happens in a state of relationship – between the teacher and the child, among peers and between the human being and the environment.
It is a school for those who are looking for a place that can awaken kinesthetic intelligence and emotional intelligence along with higher order thinking.
It is for those who cherish the intrinsic value of learning and do not see it as a means to an end- the end being a secure job and other possessions that accompany.
It is for those who can trust that if the innate intelligence of the child is allowed to flower, they will grow into mature adults who can take care of themselves as well as others around them.
It is for those who care to take time and interest to understand that a child whose childhood has not been  robbed will grow into an adult whose adulthood would be well established
</p>
              </div>
              <div class="tab-pane" id="3">
                <i class="fa-icon-trophy main-color fa-icon-medium pull-left"></i><p>In the open expanse of Kompally, our school building stands facing the east and is built in such a way that all rooms get ample sunlight .The windows of all the  rooms of our two storied building bring in  the south west and north east winds .The school  has a lovely courtyard all along the building with a lotus pond and a wooden bridge .It  has the Kindergartens and class 1 to 5 on the ground floor along with the two language rooms. The older classes, laboratories, library and the auditorium (for music practice) are on the upper floor.
The school kitchen, dining hall, office, guest houses are in the adjacent building. The clay studio, carpentry shed and parent sitting area are housed in lovely, breezy bamboo settings.

<br> Play Ground  <br>

From sand play areas in quiet corners of the school to tall towers for climbing and playing, the school has chosen places for children of different age groups to play very thoughtfully. We have plans to develop the play area in the front into an adventure course which will make a lot of demands on the children making it a lot of fun.
The main ground behind the school has a basket ball court, courts for volley ball, hand ball, ball badminton and tennicoit. The badminton courts border the hockey field which is commonly used for cricket now.
 </p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row-fluid">
      <div class="span12 page-header inner-header">
      <h3><small>On all devices</small>SHOW RESPONSIVE VIDEO</h3>
      </div>
    </div><!--/ROW-FLUID-->
</div>


<div class="container">
<div class="row-fluid">

<!-- SERVICE SIDE-->


<!-- VIDEO SIDE-->
<div class="span12">
<div class="vendor">
  <div class="container-video">
    <div class="fluid-width-video-wrapper" style="padding-top: 50%;">
      <iframe src="http://player.vimeo.com/video/35108500?color=ffffff" id="fitvid862574"></iframe>
    </div>
  </div>
</div>
    <div class="well video-well">
       <p>
      Description of video. Few words about your project video. This video Directed by: <a href="http://wscottforbes.com" target="_blank" rel="nofollow">wscottforbes.com</a>
      </p>
    </div>
</div>

</div>
</div>



</section>
<!-- ################### /  FEATURES SECTION ##################### -->


<!-- ################## PORTFOLIO SECTION #################
  ======================================================= -->
<section id="portfolio-section">


<!-- PORTFOLIO  HEADER -->

<header>
  <div class="container">
    <div class="row-fluid">
      <div class="span12 page-header">
      <h3><small>Take A Look</small>RECENT WORKS</h3>
      </div>
    </div><!--/ROW-FLUID-->
  </div>
</header><!-- / PORTFOLIO SECTION HEADER-->



<!--################### START PORTFOLIO ###################
  ======================================================= -->


<div class="container  ">
  <div  class="row-fluid container-folio">
<!-- portfolio item -->
<div class="span4  project-item">
  <div class="thumbnail">
    <!-- IMAGE CONTAINER-->
    <div class="img-wrapp">
      <div class="img-effect"></div>
      <img src="images/imgone.gif" alt="" />
      <div class="img-links">
      <a data-gal="prettyPhoto[gallery]" href="images/imgone.gif" class="btn btn-action small "><i class="fa-icon-zoom-in "></i></a>
      <a class="btn btn-action small" href="#"><i class="fa-icon-link"></i></a>
      </div>
    </div>
    <!--END IMAGE CONTAINER-->
    <!-- CAPTION -->
    <div class="caption">
      <!-- TITLE -->
      <h3 class="">Project title</h3>
      <!-- / TITLE -->
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
<!-- END: portfolio item -->

<!-- portfolio item -->
<div class="span4  project-item">
  <div class="thumbnail">
    <!-- IMAGE CONTAINER-->
    <div class="img-wrapp">
      <div class="img-effect"></div>
      <img src="images/imgtwo.gif" alt="" />
      <div class="img-links">
      <a data-gal="prettyPhoto[gallery]" href="images/imgtwo.gif" class="btn btn-action small "><i class="fa-icon-zoom-in "></i></a>
      <a class="btn btn-action small" href="#"><i class="fa-icon-link"></i></a>
      </div>
    </div>
    <!--END IMAGE CONTAINER-->
    <!-- CAPTION -->
    <div class="caption">
      <!-- TITLE -->
      <h3 class="">Project title</h3>
      <!-- / TITLE -->

    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
<!-- END: portfolio item -->

<!-- portfolio item -->
<div class="span4  project-item">
  <div class="thumbnail">
    <!-- IMAGE CONTAINER-->
    <div class="img-wrapp">
      <div class="img-effect"></div>
      <img src="images/imgthree.gif" alt="" />
      <div class="img-links">
      <a data-gal="prettyPhoto[gallery]" href="images/imgthree.gif" class="btn btn-action small "><i class="fa-icon-zoom-in "></i></a>
      <a class="btn btn-action small" href="#"><i class="fa-icon-link"></i></a>
      </div>
    </div>
    <!--END IMAGE CONTAINER-->
    <!-- CAPTION -->
    <div class="caption">
      <!-- TITLE -->
      <h3 class="">Project title</h3>
      <!-- / TITLE -->

    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
<!-- END: portfolio item -->

<!-- portfolio item -->
<div class="span4  project-item">
  <div class="thumbnail">
    <!-- IMAGE CONTAINER-->
    <div class="img-wrapp">
      <div class="img-effect"></div>
      <img src="images/imgfour.gif" alt="" />
      <div class="img-links">
      <a data-gal="prettyPhoto[gallery]" href="images/imgfour.gif" class="btn btn-action small "><i class="fa-icon-zoom-in "></i></a>
      <a class="btn btn-action small" href="#"><i class="fa-icon-link"></i></a>
      </div>
    </div>
    <!--END IMAGE CONTAINER-->
    <!-- CAPTION -->
    <div class="caption">
      <!-- TITLE -->
      <h3 class="">Project title</h3>
      <!-- / TITLE -->
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
<!-- END: portfolio item -->

<!-- portfolio item -->
<div class="span4  project-item">
  <div class="thumbnail">
    <!-- IMAGE CONTAINER-->
    <div class="img-wrapp">
      <div class="img-effect"></div>
      <img src="images/imgfive.gif" alt="" />
      <div class="img-links">
      <a data-gal="prettyPhoto[gallery]" href="images/imgfive.gif" class="btn btn-action small "><i class="fa-icon-zoom-in "></i></a>
      <a class="btn btn-action small" href="#"><i class="fa-icon-link"></i></a>
      </div>
    </div>
    <!--END IMAGE CONTAINER-->
    <!-- CAPTION -->
    <div class="caption">
      <!-- TITLE -->
      <h3 class="">Project title</h3>
      <!-- / TITLE -->
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
<!-- END: portfolio item -->

<!-- portfolio item -->
<div class="span4  project-item">
  <div class="thumbnail">
    <!-- IMAGE CONTAINER-->
    <div class="img-wrapp">
      <div class="img-effect"></div>
      <img src="images/imgsix.gif" alt="" />
      <div class="img-links">
      <a data-gal="prettyPhoto[gallery]" href="images/imgsix.gif" class="btn btn-action small "><i class="fa-icon-zoom-in "></i></a>
      <a class="btn btn-action small" href="#"><i class="fa-icon-link"></i></a>
      </div>
    </div>
    <!--END IMAGE CONTAINER-->
    <!-- CAPTION -->
    <div class="caption">
      <!-- TITLE -->
      <h3 class="">Project title</h3>
      <!-- / TITLE -->
    </div>
    <!--END CAPTION -->
  </div>
  <!-- END: THUMBNAIL -->
</div>
<!-- END: portfolio item -->

  </div><!--/ROW-->
</div><!--/CONTAINER-->




</section>
<!-- ###############/ portfolio section ################### -->



<section id="slider-section">



</div>




<!-- ============ SLIDER ============= -->
<div class="container">
  <div class="row-fluid" >
    <div class="span12">
      <div id="carousel_horizontal_slide" class="carousel slide horizontal">
        <div class="carousel-inner">
        <% Picture.all.each_with_index do |picture, i| %>
          <div class="item <%= i == 0 ? "active" : nil %>">
            <img src="<%= picture.image_url %>" alt="" style="height: 480px" />
            <h2 class="text-center"><%= picture.caption %></h2>
          </div>
        <% end %>
        </div>
        <a class="carousel-control left btn-control " href="#carousel_horizontal_slide" data-slide="prev"><i class="fa fa-chevron-left main-color" style="font-size: xx-large"></i></a>
        <a class="carousel-control right btn-control" href="#carousel_horizontal_slide" data-slide="next"><i class="fa fa-chevron-right main-color" style="font-size: xx-large"></i></a>
      </div>


    </div>
  </div>
</div>

<div class="panel">
  <div class="container">
    <div class="row-fluid">

      <div class="span12 text-center">


        <span class="blue-color">Pictures from Various Activities</span>
        <p>Abhaya Students do well both at school and out side.
        Pictures of students both at school and else where.
      </div>
    <hr class="line" />
    </div>
  </div>


</section>
<!-- / ##################### FEATURES section ###########
  ====================================================== -->

<!-- ##################### TEAM SECTION ###################
  ======================================================= -->
<section class="" id="team-section">

<!-- TEAM HEADER-->
  <header class="" >
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="page-header ">
            <h3><small>The core strength of our School</small> OUR TEAM </h3>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- / TEAM HEADER-->

<!-- TEAM ITEMS -->
<div class="container">
  <div class="row-fluid" id="show4">

<!-- TEAM ITEM-->
<div class="span3">
      <!-- IMAGE CONTAINER-->

        <img src="images/staff5.jpg" class="img-circle transfrm" alt=""/>

      <!--END IMAGE CONTAINER-->

  <!-- CAPTION -->
  <div class="caption team-caption">
    <div class="transit-to-top">
        <h4 class="">Saritha Agarwal <br> Nursery <br> <small> Saritha has been with us for the one year. She has 5 years of experience before in Waldorf schools working with small children</small></h4>

      <div class="widget_nav_menu">
        <ul class="social-icons">
          <li><a href="#" title=""><i class="fa-icon-facebook"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-twitter"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-github-alt"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-google-plus"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-linkedin"></i></a></li>
        </ul>

      </div>
    </div> <!--END CAPTION -->
  </div><!-- END: THUMBNAIL -->
</div><!-- TEAM ITEM-->

<!-- TEAM ITEM-->
<div class="span3">
    <!-- IMAGE CONTAINER-->

      <img src="images/staff4.jpg" class="img-circle transfrm" alt=""/>

  <!--END IMAGE CONTAINER-->

  <!-- CAPTION -->
  <div class="caption team-caption">
    <div class="transit-to-top">
      <h4 class="">John Doe <small>CEO, PARALLAXER</small></h4>
      <div class="widget_nav_menu">
        <ul class="social-icons">
          <li><a href="#" title=""><i class="fa-icon-facebook"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-twitter"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-github-alt"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-google-plus"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-linkedin"></i></a></li>
        </ul>
      </div>
    </div> <!--END CAPTION -->
  </div><!-- END: THUMBNAIL -->
</div><!-- /TEAM ITEM-->

<!-- TEAM ITEM-->
<div class="span3">
    <!-- IMAGE CONTAINER-->

    <img src="images/staff3.jpg" class="img-circle transfrm" alt=""/>

  <!--END IMAGE CONTAINER-->

  <!-- CAPTION -->
  <div class="caption team-caption">
    <div class="transit-to-top">
      <h4 class="">John Doe <small>CEO, PARALLAXER</small></h4>
      <div class="widget_nav_menu">
        <ul class="social-icons">
          <li><a href="#" title=""><i class="fa-icon-facebook"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-twitter"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-github-alt"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-google-plus"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-linkedin"></i></a></li>
        </ul>

      </div>
    </div> <!--END CAPTION -->
  </div><!-- END: THUMBNAIL -->
</div><!--/ TEAM ITEM-->

<!-- TEAM ITEM-->
<div class="span3">
    <!-- IMAGE CONTAINER-->

    <img src="images/staff2.jpg" class="img-circle transfrm" alt=""/>

  <!--END IMAGE CONTAINER-->

  <!-- CAPTION -->
  <div class="caption team-caption">
    <div class="transit-to-top">
      <h4 class="">John Doe <small>CEO, PARALLAXER</small></h4>

      <div class="widget_nav_menu">
        <ul class="social-icons">
          <li><a href="#" title=""><i class="fa-icon-facebook"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-twitter"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-github-alt"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-google-plus"></i></a></li>
          <li><a href="#" title=""><i class="fa-icon-linkedin"></i></a></li>
        </ul>
      </div>
    </div> <!--END CAPTION -->
  </div><!-- END: THUMBNAIL -->
</div><!-- /TEAM ITEM-->

</div>


</div><!-- /ROW-FLUID -->



</div>
<!--/ROW FLUID-->


<hr class="line">
<!-- SKILLS ROW -->

<!-- / TEAM SIDE-->
</div>
<!--/CONTAINER-->

<!-- MARKETING PANEL -->
</section>
<!-- /TEAM SECTION-->




<!-- ###################### FOOTER #######################
    ================================================== -->
<footer class="footer" id="contact-section">


<!-- CONTACT HEADER-->
<div class="">
<div class="foothead">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <h3><small>Stay in touch</small>CONTACT US </h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--/ CONTAC HEADER-->



 <div class="container">
<div class="row-fluid">

<div class="span6 comments-form-line">
  <%= form_tag "/webform", class: "comments-form row-fluid" do %>
    <p>
      <%= label_tag :name do %>
        <strong>Name</strong>
        <span class="main-color">*</span>
      <% end %>
      <%= text_field_tag :name, nil, placeholder: 'Name', class: 'span12' %>
    </p>

    <p>
      <%= label_tag :email do %>
        <strong>Email</strong>
        <span class="main-color">*</span>
      <% end %>
      <%= text_field_tag :email, nil, placeholder: 'Email', class: 'span12', required: '' %>
    </p>

    <p>
      <%= label_tag :message do %>
        <strong>Message</strong>
      <% end %>
      <%= text_area_tag :message, nil, placeholder: 'Type in your comment', class: 'span12', rows: '5' %>
    </p>

    <p>
      <%= button_tag 'SEND MESSAGE', class: 'btn btn-action medium' %>
    </p>
  <% end %>
</div>

<div class="span3">
    <h4 class="line3 center standart-h4title"><span>Reference Links</span></h4>
        <ul class="footer-links">
          <li><a href="http://en.wikipedia.org/wiki/Abhaya_School" target="_blank">Abhaya School @WIKI</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Waldorf_education" target="_blank">Waldorf Education @WIKI</a></li>

        </ul>


</div><div class="span3">
    <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
        <ul class="footer-links">
          <li><a href="http://en.wikipedia.org/wiki/Abhaya_School" target="_blank">Abhaya School @WIKI</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Waldorf_education" target="_blank">Waldorf Education @WIKI</a></li>

        </ul>
</div>

<div class="span6">
<hr class="line" />
</div>

<div class="span3">

<h4> Lets stay connected</h4>
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/groups/165745560143114/" title=""><i class="fa fa-facebook" style="font-size: x-large"></i></a></li>
      <li><a href="#" title=""><i class="fa fa-twitter" style="font-size: x-large"></i></a></li>
    </ul>



</div>

<div class="span3">

<h4> Our office</h4>
    <address>
        <strong class="main-color">Abhaya School</strong><br>
        <i class="fa fa-map-marker"></i> GundlaPochamPalli
        Hyderabad, AP 500 0014<br/>
        <i class="fa fa-phone"></i> + 91 8008222356 +91 9959817070
        <div class="foot-line"></div>
    </address>

</div>

</div>
<!-- ROW-FLUID-->
</div>

<div class="map-wrapper">
      <!--<div class="adrinner">
        <address>
        <strong class="main-color">Abhaya School.</strong><br>
        <i class="fa-icon-map-marker"></i> GundlaPochamPalli
        Hyderabad, AP 500 0014<br/>
        <i class="fa-icon-phone-sign"></i> + 91 8008222356 +91 9959817070
        <div class="foot-line"></div>
        </address>
      </div>-->
      <!-- MAP DIV // !Don't remove this !Important -->
      <div id="map"></div>
      <!-- MAP DIV // !Don't remove this !Important -->
    </div>

</footer>
<!-- END: FOOTER -->


</div>
<!-- END: MAIN-WRAPPER-->

<script>
        // Basic FitVids Test
        jQuery(".container").fitVids();

</script>


<script>
  jQuery('.carousel').carousel({
    interval: 7000
  })
</script>


<script>
  jQuery(document).ready(
  function() {
    jQuery("html").niceScroll({cursorcolor:"#282828"});
  }
);
</script>

<script>
//make section height of window
  jQuery(function(){
    jQuery('#header-section').css({'height':(jQuery(window).height())+'px'});
    jQuery(window).resize(function(){
    jQuery('#header-section').css({'height':(jQuery(window).height())+'px'});
    });
  });
</script>

<script>
jQuery('.thumbnail').hover(function(){
        jQuery(this).find('.img-effect').stop().animate({'opacity':'0.7'});
        jQuery(this).find('.img-links').stop().animate({'top':'50%'});
         },function(){
         jQuery(this).find('.img-effect').stop().animate({'opacity':'0'});
        jQuery(this).find('.img-links').stop().animate({'top':'-50%'});
      });
</script>

<script type="text/javascript">

        jQuery(document).ready(function(){

        jQuery('#map').gMap({ address: 'Abhaya School, Gundla Pochampalli, Hyderabad, AP 500014, india',
                 panControl: true,
               zoomControl: true,
                 zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
                 },
               mapTypeControl: true,
               scaleControl: true,
               streetViewControl: false,
               overviewMapControl: true,
                 scrollwheel: true,
                 icon: {
            image: "http://www.google.com/mapfiles/marker.png",
            shadow: "http://www.google.com/mapfiles/shadow50.png",
            iconsize: [20, 34],
            shadowsize: [37, 34],
            iconanchor: [9, 34],
            shadowanchor: [19, 34]
          },
            zoom:15,
                 markers: [
              { 'address' : 'Abhaya School, Gundla Pochampalli, Hyderabad, AP 500014, india'}
            ]


                 });
        });



</script>
<script type="text/javascript">

  jQuery('#my-tab a').click(function (e) {
  e.preventDefault();
  jQuery(this).tab('show');
})
</script>
