<div class="container">

  <% if notice.present? %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%#= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%#= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>

  <h1>Listing pictures</h1>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Image url</th>
        <th>Caption</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pictures.each do |picture| %>
        <tr>
          <td><%= image_tag picture.image_url, width: 50 %></td>
          <td><%= picture.caption %></td>
          <td><%= link_to 'Show', picture, class: 'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', picture, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Picture', new_picture_path, class: 'btn btn-primary' %>
</div>
